---
import Layout from '../layouts/Layout.astro';
import CommentSection from '../components/CommentSection.astro';
import Attribution from '../components/Attribution.astro';
---

<Layout title="Frontend Mentor | Interactive comments section">
	<main>

		<CommentSection />

	</main>

	<Attribution />

</Layout>