<section class="reply-section">
  <hr>

  <div class="replies flow">
  </div>

</section>

<style>
  .reply-section {
    position: relative;
    padding-top: 1em;
    padding-left: 2.5rem;
    display: flex;
    gap: 2em;
  }

  .replies {
    width: 100%;
  }

  .reply-section hr {
    border: 1px solid rgb(0, 0, 0, .1)
  }

  @media(width <= 660px) {
    .reply-section {
      padding-left: .5rem;
      gap: 1em;
    }
  }
</style>