---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Interactive comment section made by Dilan Rojas" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

	:root {
		--moderate-blue: hsl(238, 40%, 52%);
		--soft-red: hsl(358, 79%, 66%);
		--light-gray-blue: hsl(239, 57%, 85%);
		--pale-red: hsl(357, 100%, 86%);
		--dark-blue: hsl(212, 24%, 26%);
		--gray-blue: hsl(211, 10%, 45%);
		--light-gray: hsl(223, 19%, 93%);
		--lighter-gray: hsl(228, 33%, 97%);
		--white: hsl(0, 0%, 100%);

		--fs-100: .25rem;
		--fs-150: .40rem;
		--fs-200: .50rem;
		--fs-250: .75rem;
		--fs-300: .8rem;
		--fs-350: .9rem;
		--fs-400: 1rem;
		--fs-450: 1.125rem;
		--fs-500: 1.25rem;
		--fs-550: 1.4rem;
		--fs-600: 1.6rem;
		--fs-650: 1.7rem;
		--fs-700: 2rem;
		--fs-750: 2.2rem;
		--fs-800: 2.5rem;
		--fs-850: 2.8rem;
		--fs-900: 3rem;
		--fs-950: 3.5rem;

		--ff-html: "Rubik", sans-serif;

		--fw-regular: 400;
		--fw-semibold: 500;
		--fw-bold: 700;

		--rounded-5: 5px;
		--rounded-10: 10px;
		--rounded-15: 15px;
		--rounded-20: 20px;
		--rounded-25: 25px;
		--rounded-30: 30px;
	}

	@keyframes loading {
		0%, 70% {
			opacity: .4;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes slideLeft {
		0% {
			opacity: 0;
			transform: translateX(-300px);
		}
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}

	@keyframes slideRight {
		0% {
			opacity: 1;
			transform: translateX(0px);
		}
		100% {
			opacity: 0;
			transform: translateX(300px);
		}
	}

	@keyframes slideDown {
		0% {
			opacity: 0;
			transform: translateY(-50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	@keyframes slideUp {
		0% {
			opacity: 1;
			transform: translateY(0px);
		}
		100% {
			opacity: 0;
			transform: translateY(-50px);
		}
	}

	@keyframes slideFromDown {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	html {
		font-family: var(--ff-html);
		font-optical-sizing: auto;
		font-size: 16px;
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	body {
		padding: 3em 0em;
		background-color: var(--lighter-gray);
	}

	@media(width <= 660px) {
		body {
			padding: 1.5em 0em;
		}
	}

	* {
		margin: 0;
		padding: 0;
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	ul,
	ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: currentColor;
	}

	button,
	textarea,
	input {
		font-family: inherit;
		font-size: inherit;
	}

	/* Utility classes */
	.container {
		--width: 800px;
		--padding: 1rem;

		width: min(var(--width), 100% - (var(--padding) * 2));
		margin-inline: auto;
	}

	.flow > * + * {
		margin-top: var(--flow-space, 1em)
	}

	.avatar {
		width: 32px;
	}

	.user-avatar {
		width: 36px;
	}

	.button {
		cursor: pointer;
		border: 0;
		background-color: var(--moderate-blue);
		padding: .7em 1.5em;
		color: var(--white);
		text-transform: uppercase;
		font-weight: var(--fw-semibold);
		border-radius: var(--rounded-5);
		transition: opacity .08s ease;
	}

	.button:hover {
		opacity: .35;
	}

</style>